.header {
    height: 100vh;
    background-color: $color-blue-black;
    &__upper-part{
        height: 10rem;
        position: relative;
        &__logo{
            &-full{
                display: inline-block;
                position: absolute;
                top: 4rem;
                left: 4.7rem;
            }

            &-blue{
                position: absolute;
                top: 1rem;
                width: 6.8rem;
                height: 6.8rem;
                background-image: url(../img/adlux-logo-blue-part.svg);
                background-size: cover;

                display: inline-block;

                animation: rotationOfBlueLogo 1s ease-out;
            }

            &-text{
                height: 8.2rem;
                width: 14.967rem;
                background-image: url(../img/AdLux-logo-text.svg);
                background-size: cover;

                display: inline-block;
                margin-left: 8.5rem;
            }
        }
        &__menu-button{
            height: 4rem;
            width: 6rem;

            position: absolute;
            top: 5rem;
            right: 4rem;
            &__line{
                height: 0.75rem;
                width: 6.043rem;
                background-color: $color-grey-light;
    
                border-radius: .5rem;
                position: relative;

                &__circle{
                    height: 1.6rem;
                    width: 2.2rem;
                    border-radius: 50%;
                    background-color: inherit;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, -25%);
                }
            }
            &__line:not(:last-child){
              margin-bottom: 0.85rem;
            }
        }
    }

    &__video{
        height: 75%;
        color: white;
        text-align: center;
    }

    &__text{
        
        color: $text-color-white;
        text-align: center;
        line-height: 3.5rem;
        letter-spacing: .2rem;
        &__upper{
            font-size: 2.2rem; 
        }
        &__down{
            font-size: 1.8rem;
            font-weight: $font-light;
        }
        &-bold{
            font-weight: $font_bold;
        }
    }

    &__menu{
        height: 25.7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &-link{
            &:link, 
            &:visited{
                text-decoration: none;
                color: $color-grey-dark;
                font-weight: $font_medium;
                letter-spacing: .2rem;
                font-size: 2.7rem;
                text-transform: uppercase;
                transition: all 0.2s;
                &:not(:last-child){
                    margin-right: 10rem;
                }
            }
            &:hover{
                color: $text-color-white;
                font-weight: $font_bold;
            }
        }
        &-content-text{
            width: 152rem;
            position: absolute;
            left: 54%;
            top: 52%;
            transform: translate(-50%, -50%);
            display: inline-block;
        }
        &-background{
            height: 25.7rem;
            width: 117rem;
            border-top: 3px solid $color-blue-light;
            border-bottom: 3px solid $color-blue-light;
            &::before{
                content: "";
                height: 25.7rem;
                width: 117rem;
                background-color: #0D1213;
                clip-path: polygon(1% 0, 99% 0, 99% 100%, 1% 100%);
                display: inline-block;
                position: absolute;
                z-index: -1;
            }

            &-logo{
                height: 8.5rem;
                width: 8.5rem;
                object-fit: cover;

                position: absolute;
                left: 47%;
                top: -4.25rem;
                animation: rotationOfBlueLogo 15s linear;
                animation-iteration-count: infinite;
            }
        }
    }
}

.rotate{
    &-left{
        transform: rotate(45deg);
    }

    &-right{
        transform: rotate(-45deg) translate(-18%, 1.1rem);

        &-circle{
            transform: rotate(-45deg) translate(-21.5%, -1.1rem);
        }
    }
}

