
.header {
    height: 100vh;
    min-height: 80rem;
    position: relative;
    z-index: 20;
    overflow: hidden;    

    @media only screen and (max-width: 750px) {
        min-height: 70rem;
    }
    @media only screen and (max-width: 600px) {
        min-height: 65rem;
    }
    @media only screen and (max-width: 500px) {
        min-height: 55rem;
    }

    &__upper-part{
        height: 10rem;
        position: relative;

        &__logo{
            &-full{
                display: inline-block;

                z-index: 200;
                position: absolute;
                top: 4rem;
                left: 4.7rem;

                @media  screen and (max-width: 800px) {
                    top: 3rem;
                    left: 0rem;
                    transform: scale(.75);
                }
                @media  screen and (max-width: 550px) {
                    top: 1rem;
                    left: -2rem;
                    transform: scale(.5);
                }
            }

            &-blue{
                position: absolute;
                top: 1rem;
                width: 6.8rem;
                height: 6.8rem;
                background-image: url('/img/adlux-logo-blue-part.svg');
                background-size: cover;

                display: inline-block;

                animation: rotationOfBlueLogo 1s ease-out;
            }

            &-text{
                height: 8.2rem;
                width: 14.967rem;
                background-image: url('/img/adlux-logo-text.svg');
                background-size: cover;

                display: inline-block;
                margin-left: 8.5rem;
                @-moz-document url-prefix() {
                    height: 9rem;
                }  
            }
        }
        &__menu-button{
            height: 4rem;
            width: 6rem;

            z-index: 1000;
            position: absolute;
            top: 5rem;
            right: 4rem;

            cursor: pointer;

            display: inline-block;
            animation: turnUpOpacity 1s ease;

            &[id="openButton"]:hover {
                .header__upper-part__menu-button__line:last-child {
                    transform: translateY(.3rem);
                }
                .header__upper-part__menu-button__line:first-child {
                    transform: translateY(-.3rem);
                }
            }
            &__line{
                height: 0.75rem;
                width: 6.043rem;
                background-color: $color-grey-light;
    
                border-radius: .5rem;
                position: relative;

                transition: transform .3s;

                &__circle{
                    height: 1.6rem;
                    width: 2.2rem;
                    border-radius: 50%;
                    background-color: inherit;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translate(-50%, -25%);
                }
            }
            &__line:not(:last-child){
              margin-bottom: 0.85rem;
            }
            @media screen and (max-width: 800px){
                transform: scale(0.9);
                right: 3rem;
            }
            @media screen and (max-width: 550px){
                top: 3rem;
                transform: scale(0.7);
            }
        }
    }

    &__video{
        height: 75%;
        width: 40rem;
        transform: translate(-50%, -50%) scaleX(1.35);
        max-width: 100%;

        color: white;
        text-align: center;
        object-fit: contain;

        position: absolute;
        left: 50%;
        top: 50%;

        @media screen and (max-width: 1200px) {
            width: 30rem;
        }
        @media screen and (max-width: 900px) {
            top: 45%;
        }
        @media screen and (max-width: 800px) {
            width: 18rem;

            top: 50%;
        }
        @media only screen and (max-width: 750px) {
            top: 46%;
        }
        @media screen and (max-width: 600px) {
            transform: translate(-50%, -50%) scaleX(1.25) scaleY(.9);
        }
        @media screen and (max-width: 500px) {
            transform: translate(-50%, -50%) scaleX(1) scaleY(.65);
        }
        @media screen and (max-width: 450px) {
            top: 42%;
            transform: translate(-50%, -50%) scaleX(.9) scaleY(.55);
        }
        @media screen and (max-width: 400px) {
            top: 42%;
            transform: translate(-50%, -50%) scaleX(.8) scaleY(.45);
        }
        
    }

    &__background-gradient {
        width: 100%;
        height: 60rem;
        background-image: radial-gradient($color-blue-header-grad, transparent 50%);
        background-size: 1% 100%;
        background-position: center center;
        background-repeat: repeat-x;

        z-index: -1;
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);

        animation: headerBackgroundGradient 5s infinite ease-out;
    }

    &__text{
        text-align: center;
        transform: translate(-50%, -50%);
        width: 75%;

        position: absolute;
        bottom: 5rem;
        left: 50%;

        & .paragraph-big {
            margin-bottom: .8rem;
        }
    }

    &__menu{
        height: 25.7rem;
        
        position: fixed;
        z-index: 900;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        &-link{
            &:link, 
            &:visited{
                text-decoration: none;
                color: $color-grey-dark;
                font-weight: $font_medium;
                letter-spacing: .2rem;
                font-size: 2.7rem;
                text-transform: uppercase;
                &:not(:last-child){
                    margin-right: 10rem;
                    @media  screen and (max-width: 1650px) {
                        margin-right: 4.5vw;
                    }
                    @media screen and (max-width: 1300px){
                        margin-right: 2vw;
                    }
                    
                    @media screen and (max-width: 950px){
                        margin: 0;
                        margin-bottom: 3rem;
                        display: block;
                    }
                    @media screen and (max-width: 950px) and (min-height: 750px){
                        font-size: 2.7rem;
                        margin-bottom: 5rem;
                    }
                    @media screen and (max-width: 500px){
                        margin-bottom: 3.5rem;
                        font-size: $font_22;
                    }
                    @media screen and (max-width: 900px) and (max-height: 560px){
                        margin-bottom: 3rem;
                        font-size: $font_18;
                    }
                    @media screen and (max-width: 380px){
                        font-size: $font_18;
                        margin-bottom: 3rem;
                    }
                }
                @media screen and (max-width: 1300px){
                    font-size: $font_22;
                }
                @media screen and (max-width: 950px) and (min-height: 750px){                
                    font-size: 2.7rem;
                }
                @media screen and (max-width: 900px) and (max-height: 560px){
                    font-size: $font_18;
                }
                @media screen and (max-width: 380px){
                    font-size: $font_18;
                }
                
            }
            &:hover{
                transition: all 0.2s;
                color: $text-color-white;
                font-weight: $font_bold;
            }
        }
        &-content-text{
            width: 151rem;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-47.5%, -50%);
            display: inline-block;
            
            @media screen and (max-width: 1300px){
                width: calc(76rem + 6*2vw);
                transform: translate(-45.5%, -50%);
            }

            @media not all and (min-resolution: .001dpcm) and (max-width: 1300px){
                width: calc(77rem + 6*2vw);
            }

            @media screen and (min-width: 1300px){
                width: calc(91rem + 6*4.5vw);   
            }
            
            @media  screen and (min-width: 1650px) {
                width: 151rem;
            }
            @media screen and (max-width: 950px){
                text-align: center;
                width: 33rem;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @media screen and (max-width: 900px) and (max-height: 420px){
                column-count: 2;
            }
            @media screen and (max-width: 380px){
               column-count: 1;
            }
        }
        &-background{
            height: 25.7rem;
            width: 117rem;
            border-top: 3px solid $color-blue-light;
            border-bottom: 3px solid $color-blue-light;
            position: relative;
            &::before{
                content: "";
                height: 25.7rem;
                width: 117rem;
                background-color: #0D1213;
                clip-path: polygon(1% 0, 99% 0, 99% 100%, 1% 100%);
                display: inline-block;
                position: absolute;
                z-index: -1;
                @media screen and (max-width: 1490px){
                    width: 100vw;
                    left: calc(-50vw + 50%);
                }
                @media screen and (max-width: 950px){
                    width: 37.5rem;
                    left: 50%;
                    transform: translate(-50%, 0);

                }
                @media screen and (max-width: 950px) and (min-height: 750px){
                    height: 70rem;
                }
                @media screen and (max-width: 950px) and (max-height: 750px){
                    height: 50rem;
                }
                @media screen and (max-width: 550px){
                    transform: translate(-50%, 0);
                    width: 66vw;
                }
                @media screen and (max-width: 500px){
                    height: 50rem;
                }
                @media screen and (max-width: 900px) and (max-height: 560px){
                    height: 40rem;
                }
                @media screen and (max-width: 900px) and (max-height: 420px){
                    height: 25rem;
                }
                @media screen and (max-width: 380px){
                    height: 40rem;
                }
            }

            &-logo{
                height: 8.5rem;
                width: 8.5rem;
                object-fit: cover;

                position: absolute;
                left: 47%;
                top: -4.25rem;
                animation: rotationOfBlueLogo .7s ease;
                @media screen and (max-width: 950px){
                    display: none;
                }
            }
            @media screen and (max-width: 1300px){
                width: 71.32rem;
            }
            @media screen and (max-width: 950px){
                width: 44.5rem;
            }
            @media screen and (max-width: 950px) and (min-height: 750px){
                height: 70.5rem;
            }
            @media screen and (max-width: 950px) and (max-height: 750px){
                height: 50.5rem;
            }
            @media screen and (max-width: 550px){
                width: 73vw;
            }
            @media screen and (max-width: 500px){
                height: 50rem;
            }
            @media screen and (max-width: 900px) and (max-height: 560px){
                height: 40rem;
            }
            @media screen and (max-width: 900px) and (max-height: 420px){
                height: 25rem;
            }
            @media screen and (max-width: 380px){
                height: 40rem;
            }
        }
        @media screen and (max-width: 950px){
            width: 44.5rem;
        }
        @media screen and (max-width: 950px) and (min-height: 750px){
            height: 70.5rem;
        }
        @media screen and (max-width: 950px) and (max-height: 750px){
            height: 50.5rem;
        }
        @media screen and (max-width: 500px){
            height: 50rem;
            transform: translate(-50%, 0);    
        }
        @media screen and (max-width: 900px) and (max-height: 560px){
            transform: translate(-50%, -50%);
            height: 40rem;
        }
        @media screen and (max-width: 550px){
            top: 4.75rem;
            transform: translate(-50%, 0);
            width: 73vw;
        }
        @media screen and (max-width: 900px) and (max-height: 420px){
            height: 25rem;
        }
        @media screen and (max-width: 380px){
            transform: translate(-50%, 0);
            height: 40rem;
        }
            
    }
}

#cancelButton{
    position: fixed;
    @media screen and (max-width: 400px){
        right: 7vw;
    }
    @media screen and (max-width: 310px){
        right: 5vw;
    }
}

.rotate{
    &-left{
        transform: rotate(45deg);
    }

    &-right{
        transform: rotate(-45deg) translate(-18%, 1.1rem);

        &-circle{
            transform: rotate(-45deg) translate(-21.5%, -1.1rem);
        }
    }
}

.visible{
    display: block;
}

.unvisible{
    display: none;
}

.blur-body > :not(.menu){
    transition: all 1s;
    filter: blur(5px) brightness(45%);
}
.unblur-body > :not(.menu){
    transition: all 0.5s;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    filter: blur(0) brightness(100%);
}
