$benefits-margin: 14rem;

.benefits {
    height: 100vh;
    max-height: 90rem;
    min-height: 70rem;
    width: 100%;

    display: flex;
    align-items: center;
    
    @media only screen and (max-width: 1100px) {
        height: auto;
    }

    &__img {
        height: 100%;

        object-fit: none;

        transition: all .05s;

        @media only screen and (max-width: 1300px) {
            width: 20%;

            object-fit: cover;
            object-position: right;
        }
        @media only screen and (max-width: 1100px) {
            display: none;
        }
    }
    &__content {
        width: 100%;
        padding: 4rem 0;

        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 1100px) {
            padding: 3rem 0;
        }

        & .heading-1, .heading-3 {
            margin-left: $benefits-margin;

            @media only screen and (max-width: 1100px) {
                margin-left: 8rem;
            }
            @media only screen and (max-width: 600px) {
                margin: 0 5rem;
            }
            @media only screen and (max-width: 420px) {
                margin: 0 3rem;
            }
        }
        & .heading-3 {
            margin-top: -1rem;

            @media only screen and (max-width: 500px) {
                margin-top: -.5rem;
            }
        }
        &__animators {
            width: 100%;
            padding: 0 $benefits-margin;
    
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 1100px) {
                padding: 0 8rem;
            }
            @media only screen and (max-width: 600px) {
                padding: 0 5rem;
            }
            @media only screen and (max-width: 420px) {
                padding: 0 3rem;
            }

            & p {
                width: 35rem;

                text-align: center;
            }
        }
    }
    &__stripe {
        width: 100%;
        background-image: linear-gradient(to right bottom, $color-blue-stripe-1, $color-blue-stripe-2);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 10rem 12rem 10rem $benefits-margin;
        margin: 5rem 0 3.5rem 0;
        
        @media only screen and (max-width: 1100px) {
            padding: 10rem 8rem;
        }
        @media only screen and (max-width: 850px) {
            padding: 6rem 8rem;
        }
        @media only screen and (max-width: 600px) {
            padding: 6rem 5rem;
        }
        @media only screen and (max-width: 500px) {
            padding: 4rem 5rem;
        }
        @media only screen and (max-width: 420px) {
            padding: 4rem 3rem;
        }

        &__subheading {
            margin-bottom: 4rem;
            
            opacity: 0; // ==> opacity: 1;
        }
        &__text {
            display: flex;
            justify-content: space-between;
            
            opacity: 0; // ==> opacity: 1;

            @media only screen and (max-width: 850px) {
                flex-direction: column;
            }

            & > *:first-child {
                width: 46%;

                @media only screen and (max-width: 850px) {
                    width: 100%;
                    margin-bottom: 3rem;
                }
            }
            & > *:nth-child(2) {
                width: 42%;

                @media only screen and (max-width: 1380px) {
                    width: 47%;
                }
                @media only screen and (max-width: 850px) {
                    width: 100%;
                }
            }
        }
        &__list {
            list-style: none;
        }
    }
}