.products {
    position: relative;
    margin-bottom: 36rem;
    margin-top: 30rem;
    height: 55rem;

    @media screen and (max-width: 1400px) {
       margin-bottom: 24rem;
    }
    @media screen and (max-width: 1150px) {
        margin-bottom: 18rem;
        height: 90rem;
    }
    @media screen and (max-width: 1050px) {
        margin-top: 18rem;
    }

    &__switch {
        margin-bottom: 24rem;

        display: flex;
        justify-content: center;

        @media screen and (max-width: 1150px) {
            margin-bottom: 6rem;
        }
    }
    &__button {
        border: none;
        cursor: pointer;
        outline: none;
        background-color: darken($color-blue-dark, 8%);

        color: white; 
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: $font_medium;
        font-size: $font_20;

        display: block;
        height: 6rem;
        width: 24rem;
        border-radius: 1.5rem;

        position: relative;
        overflow: hidden;

        transition: all .2s;

        @media screen and (max-width: 1150px) {
            height: 4.8rem;
        }
        @media screen and (max-width: 450px) {
            width: 20rem;
        }
        @media screen and (max-width: 400px) {
            width: 17rem;
            font-size: 1.6rem;
        }
        
        &:first-child {
            clip-path: polygon(0 0, 95% 0, 70% 100%, 0 100%);
            margin-right: -4.8rem;
            padding-left: 3rem;

            text-align: left;

            @media screen and (max-width: 400px) {
                margin-right: -3.6rem;
                padding-left: 1.5rem;
            }

            &:not(.toggled) {
                &::after {
                    transform: translateX(100%);
                }
            }
        }
        &:last-child {
            clip-path: polygon(5% 100%, 100% 100%, 100% 0, 30% 0);
            padding-right: 3rem;

            text-align: right;

            @media screen and (max-width: 400px) {
                padding-right: 1.5rem;
            }

            &:not(.toggled) {
                &::after {
                    transform: translateX(-100%);
                }
            }
        }
        &.toggled {
            &::after {
                transform: translateX(0);   
                transition: all .75s;     
            }
        }
        &:focus {
            outline: none;
        }
        &:hover {
            transform: translateY(3px);
        }
    
        &::after {
            width: 100%;
            height: 100%;
            content: "";
            background-color: $color-blue-light;
            transition: all .2s;

            display: block;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    &__text {
        margin-left: auto;
        margin-right: auto;
        width: 40rem;

        @media screen and (max-width: 1150px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media screen and (max-width: 450px) {
          width: 35rem;
        }
    }
    &__features {
        list-style: none;
        width: 100%;

        @media screen and (max-width: 400px) {
            margin-left: 2rem;
            margin-right: 2rem;
        }

        transition: filter .5s, opacity .5s;

        filter: blur(3px);
        opacity: .4;
      
        &.toggled {
            position: relative;
        }
        &:not(.toggled) {
            filter: blur(10px);
            opacity: .2;

            position: absolute;

            @media screen and (max-width: 1150px) {
                display: none;
            }
        }
        &--a {
            &.toggled {
                filter: blur(0);
                opacity: 1;
            }
        }
        &--b {
            &.toggled {
                filter: blur(3px);
                opacity: .4;
            }
        }
        
    }
    & .paragraph-small {
        &::before {
            content: "-";
            margin-right: 1.2rem;
            display: inline-block;
            color: white;
            position: relative;
        }
    }
    &__feature {
        margin-bottom: .6rem;
    }
    & .heading-4 {
        margin-bottom: 4.8rem;
        height: 5rem;

        text-align: center;

        @media screen and (max-width: 1150px) {
            margin-bottom: 2.4rem;
        }
        @media screen and (max-width: 450px) {
           font-size: 2rem;
        }
        @media screen and (max-width: 450px) {
           width: 30rem;
           margin-left: auto;
           margin-right: auto;

           text-align: center;
           line-height: 1.5;
        }
    }
    &__image {
        height: 50rem;

        position: absolute;
        top: 12rem;

        @media screen and (max-width: 1500px) {
            height: 40rem;
            top: 18rem;
        }
        @media screen and (max-width: 1150px) {
            margin-top: 3rem;
            margin-bottom: 3rem;

            position: relative;
            top: unset;
        }

        &--a {
            left: 14rem;

            @media screen and (max-width: 1150px) {
                left: unset;
            }
        }
        &--b {
            display: block;

            right: 18rem;

            filter: blur(3px);
            opacity: .5;

            @media screen and (max-width: 1150px) {
               right: unset;
            }
        }
        &:not(.toggled) {
            cursor: pointer;

            @media screen and (max-width: 1150px) {
                display: none;
            }
        }
        &.toggled {
            cursor: clicker;
        }
    }
    &__coming-soon {
        font-size: 3rem;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .5rem;

        position: absolute;
        right: 18rem;
        transform: translateY(-50%) translateX(5rem);

        transition: opacity .5s, filter .5s;

        @media screen and (max-width: 1150px) {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            top: 40rem;
        }

        &.toggled {
            display: block;

            filter: blur(0);
        }
        &:not(.toggled) {
            display: none;

            filter: blur(10px);
            opacity: 0;
        }

    }
}
