.contact {
   
    position: relative;
    &-content {
        width: 104.6rem;
        margin:0 auto;
        &__Adlux-logo {

            margin: 7rem auto;
            margin-top: 50vh;
            width: 27.83rem;
            height: 15.248rem;


            background-image: url(../img/adlux-logo-text.svg);
            background-size: cover;
        }

        &-table {
            transform: translate(-3.5rem, 0);
            height: 90rem;

            &-row{
                margin-bottom: 2.5rem;
                &-message{
                    position: relative;
                }

            }
            &__input{
                //background-color: green;
                height: 4.1rem;
                width: 94.3rem;
                font-size: 2rem;
                outline: none;
                padding-left: 0.5rem;
                &::placeholder{
                    color: $color-grey-dark;
                }
                @media screen and (max-width: 1070px) {
                    width: 80vw;
                }
            }
            &__label{
                color: $text-color-white;
                margin: 0 auto;
                font-size: 2.2rem;
                font-weight: $font_regular;
                &-box{
                    display: inline-block;
                    width: 6.8rem;
                    margin-right: 3rem;

                }
                &-message{
                    position: absolute;
                    top: 0.5rem;
                }
            }     
        }
    }
}

.message {
    width: 94.3rem;
    height: 43.4rem;
    font-size: 2rem;
    line-height: 4rem;
    font-family: $font_raleway;
    font-weight: $font_regular;
    outline: none;
    padding-left: 0.5rem;
    
    &::placeholder{
        font-weight: $font_medium;
        font-family: $font_raleway;
        color: $color-grey-dark;
        font-size: 2rem;
    }
}

.send-button {
    &-box {
        height: 5.5rem;
    }
    display: inline-block;
    background-color: $color-blue-black;
    outline: none;
    border: none;
    font-size: 3.5rem;
    font-weight: $font_regular;
    color: $text-color-white;
    margin-top: 2rem;
    margin-left: 49%;
    cursor: pointer;
    transition: all .1s;
    &:hover{
        transform: translateY(-0.2rem) scale(1.05);
    }

    &:active {
        transform: translateY(-0.1rem) scale(1.05);     
    }
}

.loading-efect{
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-left: 47.2%;
    height: .4rem;
    width: 19rem;
    border-radius: .2rem;
    background-color: $color-blue-stripe-1;
    &__img {
        width: 10rem;
        height: 0.4rem;
        border-radius: 0.2rem;
        background-image: linear-gradient(to right, $color-blue-stripe-1, $color-blue-light);
        animation: loadingEffectAnimation 2s ease-in;
        animation-iteration-count: infinite;
        &-send{
            width: 19rem;
            height: 0.4rem;
            border-radius: 0.2rem;
            background-color: $color-blue-light;
            animation: sendingEffectAnimation 1s ease-in;
            transform: translateX(0rem);
        }
    }
}
