.footer {
    &-up {
        background-color: $color-blue-black;
        color: $text-color-white;
        position: relative;
        height: 5rem;
        &__AdLux-logo {
            position: absolute;
            display: inline-block;
            height: 6.8rem;
            width: 12.411rem;
            transform: translate(51%, -60%);
            background-image: url(../img/AdLux-logo-text.svg);
            background-size: cover;
        }
        &__contacts {
            display: inline-block;
            position: absolute;
            left: 50%;
            width: 88rem;
            height: 5rem;
            overflow: hidden;
            transform: translate(-41%, -1rem);

            &-picture-1{
                position: relative;
                display: inline-block;
                height: 30rem;
                transform: translateY(-6rem);
            }
            &-picture-2{
                position: relative;
                display: inline-block;
                height: 30rem;
                transform: translateY(-12.75rem);
            }
            &-phone-number{
                position: absolute;
                display: inline-block;
                left: 15rem;
                font-variant-numeric: lining-nums;
                font-weight: $font_medium;
                font-size: 2rem;
                transform: translateY(1rem);
            }

            &-email{
                position: absolute;
                display: inline-block;
                right: 20rem;
                font-weight: $font_medium;
                font-size: 2rem;
                transform: translateY(1rem);
            }
           
        }
        &__AmnioN-link-logo {
            &:link, 
            &:visited {
                height: 7rem;
                width: 7rem;
                position: absolute;
                top: 0.5rem;
                right: 0;
                bottom: 3rem;
                transform: translate(-90%, -50%);
                text-decoration: none;
                color: $text-color-white;
                font-weight: $font_light;
                transition: all .1s;
            }
            &:hover{
                transform: translate(-90%, -50%) scale(1.1) translateY(-0.2rem); 
                
            }
            &:active {                
                transform: translate(-90%, -50%) scale(1.1) translateY(-0.1rem);
            }
        }
    }

    &-down{
        background-image: url(../img/footer-picture.png);
        background-size: 100%;
        display: block;
        position: relative;
        text-align: right;
        height: 8rem;

        &__heading {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 3.5rem;
            font-weight: $font_light;
            color: $text-color-white;            
        }

        &__AmnioNLink-text {  
            &:link, 
            &:visited {
                position: relative;
                display: inline-block;
                text-align: center;
                width: 17rem;
                text-decoration: none;
                padding: 1.3rem 0;
                padding-right: 3rem;
                font-size: 2rem;
                font-weight: $font_light;
                color: $text-color-white;
                transition: all .1s;
            }

            &:hover{
                transform: translateY(-0.4rem);
                text-shadow: 0.2rem 0.2rem 0.8rem rgba(black, 1);
            }
            &:active {                
                transform: translateY(-0.2rem);
            }

        }
    }
}

