.footer {
    &-up {
        margin-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;

        display: flex;
        align-items: flex-end;

        color: $text-color-white;
        position: relative;

        @media screen and (max-width: 800px){
            flex-direction: column;
            align-items: flex-start;
        }
        @media screen and (max-width: 550px) {
            align-items: center;
        }
        &__AdLux-logo {
            height: 7.4rem;
            width: 12.4rem;
            background-image: url('/img/adlux-logo-text.svg');
            background-size: cover;
            
            display: inline-block;
         
            @media screen and (max-width: 800px){
                margin-bottom: 4rem;      
            }
          
        }
        &__contact {
            display: flex;
            align-items: flex-end;

            &:not(:last-child) {
                margin-right: 8rem;

                @media screen and (max-width: 600px) {
                    margin-right: 4rem;
                }
                @media screen and (max-width: 550px) {
                    margin-bottom: 1rem;
                }
            }
           
        }
        &__contacts {
            margin-left: auto;
            margin-right: auto;

            display: flex;
            align-items: flex-end;
           
            @media screen and (max-width: 1200px){
                margin-right: 0;
            }
            @media screen and (max-width: 800px){
                margin-left: 0;
               margin-right: auto;

               align-items: flex-start;
            }
            @media screen and (max-width: 550px) {
                margin-right: 0;

                flex-direction: column;
            }
        
            &-picture{
                //height: 5rem;
                width: 2rem;
                height: 2rem;
                margin-right: 2rem;

                position: relative;

                &:first-child{
                    margin-left: 0;
                }
            }
            &-text {
                font-variant-numeric: lining-nums;
                font-weight: $font_medium;
                font-size: 2rem;

                position: relative;
              
                @media screen and (max-width: 500px) {
                    font-size: 1.8rem;
                }
                &__number{
                    font-variant-numeric: lining-nums;
                }
            }
        }
        &__AmnioN-link-logo {
            align-items: flex-end;
            display: flex;

            //transform: translateX(-6rem);

            @media screen and (max-width: 1200px) {
                display: none;
            }

            &:link, 
            &:visited {
                height: 7rem;
                width: 7rem;

                text-decoration: none;
                color: $text-color-white;
                font-weight: $font_light;
            }

            img {
                width: 100%;

                display: block;
            }
        }
    }

    &-down{
        background-image: url("/img/footer-picture.png");
        background-size: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
        height: 8rem;

        text-align: right;

        display: flex;
        align-items: center;

        position: relative;

        &__amnion-link-logo {
            width: 8rem;
            height: 8rem;

            display: none;

            position: absolute;
            top: 22rem;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 100%;

                display: block;
            }

            @media screen and (max-width: 1200px) {
                display: block;

                width: 6rem;
                height: 5rem;
            }
            @media screen and (max-width: 800px) {
                display: block;

                width: 5rem;
                height: 4rem;
            }
        }
        &__heading {

            font-size: 3.5rem;
            font-weight: $font_light;
            color: $text-color-white;    
           
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translateX(-50%) translateY(-50%);         
        }

        &__AmnioNLink-text {  
            margin-left: auto;
            width: 18rem;

            text-align: right;

            &:link, 
            &:visited {
                padding: 1.3rem 0;

                text-align: right;
                text-decoration: none;
                font-size: 2rem;
                font-weight: $font_light;
                color: $text-color-white;

              
                display: inline-block;

                position: relative;
              
                @media screen and (max-width: 1200px){
                    padding-bottom: 3rem;

                    font-size: 1.8rem;

                    position: absolute;
                    top: 28rem;
                    left: 50%;
                    transform: translate(-50%, -50%); 
                }
                @media screen and (max-width: 800px){
                   font-size: 1.6rem;
                }
            }
        }
    }
}
