<header class="header">
    <div class="header__upper-part">
        <div class="header__upper-part__logo-full">
            <div class="header__upper-part__logo-blue" id="logo-spin"></div>
            <div class="header__upper-part__logo-text"></div>
        </div>
        
        <div class="header__upper-part__menu-button" id="cancelButton">
            <div class="header__upper-part__menu-button__line rotate-right"></div>
            <div class="header__upper-part__menu-button__line rotate-left"><div class="header__upper-part__menu-button__line__circle rotate-right-circle"></div></div>
        </div>
        
        <div class="header__upper-part__menu-button visible" id="openButton">
            <div class="header__upper-part__menu-button__line"></div>
            <div class="header__upper-part__menu-button__line"><div class="header__upper-part__menu-button__line__circle"></div></div>
            <div class="header__upper-part__menu-button__line"></div>
        </div>
    </div>
    <div class="header__menu" id="menu">
        <div class="header__menu-content">
            <div class="header__menu-background">
                <img src="../img/adlux-logo-blue-part.svg" alt="AdLux logo" class="header__menu-background-logo">
                <div class="header__menu-content-text">
                    <a href="#"class="header__menu-link">úvod</a>
                    <a href="/#info-revolution"class="header__menu-link">revoluce</a>
                    <a href="/#info"class="header__menu-link">smysl</a>
                    <a href="/#benefits"class="header__menu-link">benefity</a>
                    <a href="/#products"class="header__menu-link">produkt</a>
                    <a href="/#solution"class="header__menu-link">řešení</a>
                    <a href="/#contact"class="header__menu-link">kontakt</a>
                </div>
            </div>
            
        </div>
    </div>

    <div class="header__video"><h3>video</h3></div>

    <div class="header__text">
        <p class="header__text__upper">vyšší <span class="header__text-bold">návštěvnost</span>, vyšší <span class="header__text-bold">příjmy</span>,
        vyšší <span class="header__text-bold">atraktivita</span>, <span class="header__text-bold">náskok</span> před konkurencí
        </p>
        <p class="header__text__down">pro obchodní centra a pasáže</p>
    </div>
</header>