<header class="header" id="header">
    <div class="header__upper-part" id="upper-part">
        <div class="header__upper-part__logo-full">
            <div class="header__upper-part__logo-blue" id="logo-spin"></div>
            <div class="header__upper-part__logo-text"></div>
        </div>
    </div>
    
    <video class="header__video" autoplay muted preload loop id="animation">
        <source src="/img/finalAnim.webm" type="video/webm">
        <source src="/img/video-h265.mov" type="video/quicktime">
        Your browser does not support HTML5 video
    </video>

    <div class="header__background-gradient"></div>

    <div class="header__text">
        <p class="paragraph-big">vyšší <span>návštěvnost</span>, vyšší <span>příjmy</span>, vyšší <span>atraktivita</span>, <span>náskok</span> před konkurencí</p>
        <p class="paragraph-small">pro obchodní centra a pasáže</p>
    </div>
</header>