<header class="header">
    <div class="header__upper-part">
        <div class="header__upper-part__logo-full">
            <div class="header__upper-part__logo-blue" id="logo-spin"></div>
            <div class="header__upper-part__logo-text"></div>
        </div>
    </div>
</header>