<section class="info">
    <section class="info__revolution">
        <div class="info__revolution__content">
            <h2 class="heading-2">Reklamní<br>Revoluce</h2>
            <p class="paragraph-big paragraph-big--blue">Tradiční forma reklamy se v dnešní době stává stále méně schopnou v <span>získání pozornosti zákazníka a uspokojení požadavků</span> stávajících značek. Pohlcující zážitek 3D hologramu se k uživatelům dostane tak, <span>jako žádné jiné reklamní médium.</span></p>
        </div>
    </section>
    <section class="info__meaning">
        <div class="info__meaning__text-wrap">
            <p class="paragraph-big info__meaning__text">Uděláte <span>z reklamy atrakci.</span></p>
        </div>
        <div class="info__meaning__text-wrap">
            <p class="paragraph-big info__meaning__text">Získáte <span>náskok před ostatními</span> v marketingové revoluci.</p>
        </div>
        <div class="info__meaning__text-wrap">
            <p class="paragraph-big info__meaning__text">Návštěvníci na vás budou <span>myslet i doma.</span></p>
        </div>
    </section>
</section>