<section class="benefits" id="benefits">
    <img
        
        srcset="
            /img/jellyfish.webp webp,
            /img/jellyfish.jpg jpg
        "
        alt="AdLux Holograms"
        class="benefits__img"
        id="benefits-img"
    >
    <div class="benefits__content">
        <h1 class="heading-1 heading-1--big">BENEFITY</h1>
        <h3 class="heading-3">Využijte výhody reklamy budoucnosti.</h3>
        <div class="benefits__stripe">
            <p class="benefits__stripe__subheading paragraph-small"><span>Jedinečný vizuální zážitek z reklamní plochy = vyšší atraktivita pro veřejnost.</span></p>
            <div class="benefits__stripe__text">
                <p class="paragraph-small">Kompletní řešení umožňující flexibilní řízení reklam dle vašich požadavků. Zatím, co <span>my se staráme o bezstarostný provoz</span>, vy rozhodujete o tom, <span>jak chcete holografickou reklamní plochu využít.</span></p>
                <ul class="benefits__stripe__list">
                    <li class="beneftis__stripe__item"><p class="paragraph-small">&bull;  reklama pro vaše nájemníky a třetí strany</p></li>
                    <li class="beneftis__stripe__item"><p class="paragraph-small">&bull;  reklama pro vás</p></li>
                    <li class="beneftis__stripe__item"><p class="paragraph-small">&bull;  dekorace</p></li>
                    <li class="beneftis__stripe__item"><p class="paragraph-small">&bull;  jiné individuální potřeby</p></li>
                    <li class="beneftis__stripe__item"><p class="paragraph-small">&bull;  užití dvou reklamních produktů</p></li>
                </ul>
            </div>
        </div>
        <div class="benefits__content__animators">
            <p class="paragraph-small">Náš tým animátorů zajistí <span>kompletní tvorbu animací</span> dle vašich požadavků.</p>
        </div>
    </div>
</section>