<section class="products" id="products">
    <div class="products__switch">
        <button tabindex="-1" class="products__button toggled" id="product-btn-a">Produkt A</button>
        <button tabindex="-1" class="products__button" id="product-btn-b">Produkt B</button>
    </div>
   
    <div class="products__text" >
        <h4 id="product-heading-a" class="heading-4 A">Holografická visací platforma</h4>
        <h4 id="product-heading-b" class="heading-4 B disableSelect ">Holografický stojan</h4>
        <img src="img/product_a.png" alt="Produkt A" id="product-image-a" class="products__image products__image--a toggled">
        <img src="img/product_b.png" alt="Produkt B" id="product-image-b" class="products__image products__image--b">
        <p class="products__coming-soon disableSelect" id="coming-soon">V přípravě</p>
        <ul class="products__features products__features--a toggled" id="product-features-a">
            <li class="products__feature"><p class="paragraph-small" id="products-text">Svítivost: <span>1600cd</span></p></li>
            <li class="products__feature"><p class="paragraph-small">Rozměr zobrazení: <span>1165x1165 mm</span></p></li>
            <li class="products__feature"><p class="paragraph-small"><span>Kovový rám</span></p></li>
            <li class="products__feature"><p class="paragraph-small">Premiový vzhled</p></li>
            <li class="products__feature"><p class="paragraph-small">Úhel zobrazení <span>176°</span></p></li>
            <li class="products__feature"><p class="paragraph-small"><span>Dvě zobrazovací plochy</span>, jeden produkt</p></li>
        </ul>
        <ul class="products__features products__features--b disableSelect" id="product-features-b">
            <li class="products__feature"><p class="paragraph-small">Svítivost: <span>1600cd</span></p></li>
            <li class="products__feature"><p class="paragraph-small">Rozměr zobrazení: <span>1165x1650 mm</span></p></li>
            <li class="products__feature"><p class="paragraph-small">Premiové materiály - plexisklo a kov</p></li>
            <li class="products__feature"><p class="paragraph-small">Úhel zobrazení <span>176°</span></p></li>
        </ul>

    </div>
  
</section>