<section class="products" id="products">
    <div class="products__switch">
        <button class="products__button" id="product-btn-a">Produkt A</button>
        <button class="products__button toggled" id="product-btn-b">Produkt B</button>
    </div>
   
    <div class="products__text" >
        <h4 id="product-heading" class="heading-4">Stropní visací hologram</h4>
        <img src="img/product-A.png" alt="Product A" id="product-image-a" class="products__image products__image--a toggled">
        <img src="img/product-B.png" alt="Product B" id="product-image-b" class="products__image products__image--b">
        <ul class="products__features" id="product-features">
            <li class="products__feature"><p class="paragraph-small">Svítivost: <span>1600cd</span></p></li>
            <li class="products__feature"><p class="paragraph-small">Rozměr zobrazení: <span>1165x1165 mm</span></p></li>
            <li class="products__feature"><p class="paragraph-small"><span>Kovový rám</span></p></li>
            <li class="products__feature"><p class="paragraph-small">Premiový vzhled</p></li>
            <li class="products__feature"><p class="paragraph-small">Úhel zobrazení <span>176°</span></p></li>
            <li class="products__feature"><p class="paragraph-small"><span>Dvě zobrazovací plochy</span>, jeden produkt</p></li>
            <li class="products__feature"><p class="paragraph-small"><span>XXX HULK</span></p></li>
        </ul>
    </div>
  
</section>