<section class="solution">
    <h1 class="heading-1 heading-1--small">
        Individuální řešení
    </h1>
    <p class="paragraph-small">Jsme si vědomi toho, že každý má své vlastní individuální potřeby.
        Proto si můžete vybrat ze tří různých balíčků a najít tak řešení, které nejvíce vyhovuje vám.</p>
    <div class="solution__cards">
        <div class="solution__card">
            <h4 class="heading-4">
                Standard
            </h4>
            <p class="solution__card__text">
                Program Standard obsahuje pouze základ nabízených služeb a o všem ostatním můžete rozhodovat vy.
            </p>
            <p class="solution__card__in-price">V ceně</p>
            <ul class="solution__card__features">
                <li class="solution-card__feature solution-card__feature--active">Operační údržba</li>
                <li class="solution-card__feature">Vlastní propagace</li>
                <li class="solution-card__feature">Vytváření animací</li>
                <li class="solution-card__feature">Propagace třetích stran</li>
                <li class="solution-card__feature">Propagace na 40 sekund zdarma</li>
                <li class="solution-card__feature">Tvorba 10 sekund animace měsíčně zdarma</li>
            </ul>
        </div>
        <div class="solution__card">
            <h4 class="heading-4">
                Premium
            </h4>
            <p class="solution__card__text">
                Program Premium umožňuje využití některých služeb balíčku All in, avšak klade důraz na individuální
                požadavky za nižší základovou cenu.
            </p>
            <p class="solution__card__in-price">V ceně</p>
            <ul class="solution__card__features">
                <li class="solution-card__feature solution-card__feature--active">Operační údržba</li>
                <li class="solution-card__feature">Vlastní propagace</li>
                <li class="solution-card__feature">Vytváření animací</li>
                <li class="solution-card__feature">Propagace třetích stran</li>
                <li class="solution-card__feature solution-card__feature--active">Propagace na 40 sekund zdarma</li>
                <li class="solution-card__feature solution-card__feature--active">Tvorba 10 sekund animace měsíčně zdarma</li>
            </ul>
        </div>
        <div class="solution__card">
            <h4 class="heading-4">
                All in
            </h4>
            <p class="solution__card__text">
                Program All in kloubí všechny nabízené služby do jednoho kompletního balíčku za souhrnnou paušální cenu.        </p>
            <p class="solution__card__in-price">V ceně</p>
            <ul class="solution__card__features">
                <li class="solution-card__feature solution-card__feature--active">Operační údržba</li>
                <li class="solution-card__feature solution-card__feature--active">Vlastní propagace</li>
                <li class="solution-card__feature solution-card__feature--active">Vytváření animací</li>
                <li class="solution-card__feature solution-card__feature--active">Propagace třetích stran</li>
                <li class="solution-card__feature solution-card__feature--active">Propagace na 40 sekund zdarma</li>
                <li class="solution-card__feature solution-card__feature--active">Tvorba 10 sekund animace měsíčně zdarma</li>
            </ul>
        </div>
    </div>
    <button class="solution__contact-button">
        Kontakt
    </button>
</section>