<section class="contact">
    <div class="contact-content">
        <div class="contact-content__Adlux-logo" id="contact"></div>
        <form action="/email" method="POST" class="contact-content-table">
            <div class="contact-content-table-row" >
                <div class="contact-content-table__label-box">
                    <label for="name" class="contact-content-table__label" >Jméno</label>
                </div>
                <input type="text" class="contact-content-table__input" id="contact-input-1">
            </div>
    
            <div class="contact-content-table-row">
                <div class="contact-content-table__label-box">
                    <label for="email" class="contact-content-table__label" >E-mail</label>
                </div>
                <input type="text" class="contact-content-table__input" id="contact-input-2">
            </div>
    
            <div class="contact-content-table-row-message">
                <div class="contact-content-table__label-box">
                    <label for="message" class="contact-content-table__label contact-content-table__label-message" >Zpráva</label>
                </div>
                <textarea name="message" class="message" cols="30" rows="10" id="contact-input-3"></textarea>
            </div>
    
            <div class="send-button-box">
                <button type="submit" class="send-button" id="send-btn">Odeslat</button>
            </div>
            <div class="loading-efect">
                <div class="loading-efect__img" id="send-img"></div>
            </div>
        
        </form>
    </div>
    <img class="contact__wave" src="img/wave.svg"></img>
</section>