<footer class="footer">
    <div class="footer-up">
        <div class="footer-up__AdLux-logo">
        </div>
        <div class="footer-up__contacts">
            <div class="footer-up__contact">
                <img src="img/white-phone.svg" alt="phone-number" class="footer-up__contacts-picture">
                <h2 class="footer-up__contacts-text footer-up__contacts-text__number">
                    792 316 653
                </h2>
            </div>
            <div class="footer-up__contact">
                <img src="img/white-mail.svg" alt="e-mail" class="footer-up__contacts-picture">
                <h2 class="footer-up__contacts-text">
                    info@adluxholo.cz
                </h2>
            </div>
        </div>
        <a target="_blank" href="https://www.amnionweb.cz" rel="noopener" class="footer-up__AmnioN-link-logo">
            <img src="img/NL1.svg" alt="AmnioN">
        </a>
    </div>
    <div class="footer-down">
        <h3 class="footer-down__heading">
            Kontakt
        </h3>
        <a href="https://www.amnionweb.cz" rel="noopener" class="footer-down__amnion-link-logo">
            <img src="img/NL1.svg" alt="AmnioN">
        </a>
        <a target="_blank" rel="noopener"  href="https://www.amnionweb.cz" class="footer-down__AmnioNLink-text">
            Vytvořil <span>AmnioN Web</span>
        </a>
    </div>
</footer>