<footer class="footer">
    <div class="footer-down">
        <h3 class="footer-down__heading">
            Kontakt
        </h3>
        <a target="_blank" rel="noopener"  href="https://www.amnionweb.cz/" class="footer-down__AmnioNLink-text">
            Vytvořil AmnioN Web
        </a>
    </div>
</footer>