<footer class="footer">
    <div class="footer-up">
        <div class="footer-up__AdLux-logo">
            Logo
        </div>
        <div class="footer-up__contacts">
            cislo-mail
        </div>
        <a target="_blank" href="https://www.amnionweb.cz" class="footer-up__AmnioN-link-logo">
            <img src="img/logo_amnion.svg" alt="AmnioN">
        </a>
    </div>
    <div class="footer-down">
        <h3 class="footer-down__heading">
            Kontakt
        </h3>
        <a target="_blank" rel="noopener"  href="https://www.amnionweb.cz" class="footer-down__AmnioNLink-text">
            Vytvořil AmnioN Web
        </a>
    </div>
</footer>