<footer class="footer">
    <div class="footer-up">
        <div class="footer-up__AdLux-logo">
            Logo
        </div>
        <div class="footer-up__contacts">
            <img src="img/icon_phone.svg" alt="phone-number" class="footer-up__contacts-picture-1">
            <h2 class="footer-up__contacts-phone-number">
                792 316 653
            </h2>
            <img src="img/icon_mail.svg" alt="e-mail" class="footer-up__contacts-picture-2">
            <h2 class="footer-up__contacts-email">
                adlux.holograms@gmail.com
            </h2>
        </div>
        <a target="_blank" href="https://www.amnionweb.cz" class="footer-up__AmnioN-link-logo">
            <img src="img/logo_amnion.svg" alt="AmnioN">
        </a>
    </div>
    <div class="footer-down">
        <h3 class="footer-down__heading">
            Kontakt
        </h3>
        <a target="_blank" rel="noopener"  href="https://www.amnionweb.cz" class="footer-down__AmnioNLink-text">
            Vytvořil AmnioN Web
        </a>
    </div>
</footer>