*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  background-image: linear-gradient(to bottom, rgba(4, 14, 15, 0.98), #040E0F); }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

.heading-1--big {
  font-family: "Bebas Neue", cursive;
  color: #ACAFAF;
  font-size: 9rem;
  letter-spacing: 1.8rem; }

.heading-1--small {
  font-family: "Bebas Neue", cursive;
  color: #E8E8E8;
  font-size: 6rem; }

.heading-2 {
  color: #36AEB7;
  font-size: 2.5rem;
  font-weight: 500; }

.heading-3 {
  color: #F1F1F1;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 3px; }

.heading-4 {
  color: #F1F1F1;
  font-size: 2.2rem;
  font-weight: 600; }

.paragraph-big {
  color: #F1F1F1;
  font-size: 2.2rem;
  font-weight: 400; }
  .paragraph-big span {
    font-weight: 900; }
  .paragraph-big--blue span {
    color: #36AEB7; }

.paragraph-normal {
  color: white;
  font-size: 1.7rem;
  font-weight: 300; }
  .paragraph-normal span {
    font-weight: 900; }

.paragraph-small {
  color: #F1F1F1;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 155%; }
  .paragraph-small span {
    font-weight: 600; }

.benefits {
  height: 100vh;
  width: 100%;
  display: flex; }
  .benefits__img {
    height: 100%; }
  .benefits__content {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column; }
    .benefits__content .heading-1, .benefits__content .heading-3 {
      margin-left: 14rem; }
    .benefits__content .heading-3 {
      margin-top: -1rem; }
    .benefits__content__animators {
      width: 100%;
      padding: 0 14rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .benefits__content__animators p {
        width: 35rem;
        text-align: center; }
  .benefits__stripe {
    width: 100%;
    background-image: linear-gradient(to right bottom, #043033, #051C1E);
    padding: 10rem 12rem 10rem 14rem;
    margin: 5rem 0 3.5rem 0; }
    .benefits__stripe__subheading {
      margin-bottom: 4rem; }
    .benefits__stripe__text {
      display: flex;
      justify-content: space-between; }
      .benefits__stripe__text > *:first-child {
        width: 46%; }
      .benefits__stripe__text > *:nth-child(2) {
        width: 42%; }
    .benefits__stripe__list {
      list-style: none; }

.footer-up {
  background-color: black;
  color: #ffff;
  position: relative; }
  .footer-up__AdLux-logo {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem; }
  .footer-up__contacts {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer-up__AmnioN-link-logo:link, .footer-up__AmnioN-link-logo:visited {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-40%, -50%);
    text-decoration: none;
    color: #ffff;
    font-weight: 300;
    transition: all .1s; }
  .footer-up__AmnioN-link-logo:hover {
    transform: translate(-40%, -50%) scale(1.1) translateY(-0.2rem); }
  .footer-up__AmnioN-link-logo:active {
    transform: translate(-40%, -50%) scale(1.1) translateY(-0.1rem); }

.footer-down {
  background-color: aqua;
  display: block;
  position: relative;
  text-align: right; }
  .footer-down__heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 400;
    color: #ffff; }
  .footer-down__AmnioNLink-text:link, .footer-down__AmnioNLink-text:visited {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 7rem;
    text-decoration: none;
    padding: 1rem 0;
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    color: #ffff;
    transition: all .1s; }
  .footer-down__AmnioNLink-text:hover {
    transform: scale(1.1) translateY(-0.2rem);
    text-shadow: 0.3rem 0.3rem 0.5rem black; }
  .footer-down__AmnioNLink-text:active {
    transform: scale(1.1) translateY(-0.1rem); }
