*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.8rem; }

.heading-1 {
  font-family: "Bebas Neue", cursive; }
  .heading-1--big {
    color: #ACAFAF;
    font-size: 120rem; }
  .heading-1--small {
    color: #E8E8E8;
    font-size: 60rem; }

.heading-2 {
  color: #36AEB7;
  font-size: 25rem;
  font-weight: 500; }

.heading-3 {
  color: #F1F1F1;
  font-size: 20rem;
  font-size: 600; }

.heading-4 {
  color: #F1F1F1;
  font-size: 22rem;
  font-weight: 600; }

.paragraph-big {
  color: #F1F1F1;
  font-size: 22rem;
  font-weight: 400; }
  .paragraph-big span {
    font-weight: 900; }
  .paragraph-big--blue span {
    color: #36AEB7; }

.paragraph-normal {
  color: white;
  font-size: 20rem;
  font-weight: 300; }
  .paragraph-normal span {
    font-weight: 900; }

.paragraph-small {
  color: #F1F1F1;
  font-size: 18rem;
  font-weight: 400; }
  .paragraph-small span {
    font-weight: 700; }

.footer-up {
  background-color: black;
  color: #ffff;
  position: relative; }
  .footer-up__AdLux-logo {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 5rem; }
  .footer-up__contacts {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .footer-up__AmnioN-link-logo:link, .footer-up__AmnioN-link-logo:visited {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-87.5%, -50%);
    text-decoration: none;
    color: #ffff;
    font-weight: 300;
    transition: all .1s; }
  .footer-up__AmnioN-link-logo:hover {
    transform: translate(-87.5%, -50%) scale(1.15) translateY(-2px);
    text-shadow: 1px 2px 2px #acafaf; }
  .footer-up__AmnioN-link-logo:active {
    transform: translate(-87.5%, -50%) scale(1.15) translateY(-1px); }

.footer-down {
  background-color: aqua;
  display: block;
  position: relative;
  text-align: right; }
  .footer-down__heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 300;
    color: #ffff; }
  .footer-down__AmnioNLink-text:link, .footer-down__AmnioNLink-text:visited {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 12rem;
    text-decoration: none;
    font-weight: 300;
    color: #ffff;
    transition: all .1s; }
  .footer-down__AmnioNLink-text:hover {
    transform: scale(1.15);
    transform: translateY(-2px);
    text-shadow: 1px 2px 2px #acafaf; }
  .footer-down__AmnioNLink-text:active {
    transform: translateY(-1px); }
