@keyframes rotationOfBlueLogo {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes sendingEffectAnimation {
  0% {
    transform: translateX(-19rem); }
  100% {
    transform: translateX(0rem); } }

@keyframes loadingEffectAnimation {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translateX(20rem); } }

@keyframes showBenefitsStripe {
  from {
    background-position: -100vw; }
  to {
    background-position: 0rem; } }

@keyframes turnUpOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-image: linear-gradient(to bottom, rgba(4, 14, 15, 0.98), #040E0F);
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 1400px) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  overflow-x: hidden; }

::-webkit-scrollbar {
  background-color: #040E0F;
  border-left: 1px solid rgba(255, 255, 255, 0.02); }

::-webkit-scrollbar-thumb {
  background-color: #051C1E;
  box-shadow: 2px 1px 5px 1px rgba(255, 255, 255, 0.02) inset; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #043033; }

.heading-1--big {
  font-family: "Bebas Neue", cursive;
  color: #ACAFAF;
  font-size: 9rem;
  letter-spacing: 1.8rem; }
  @media only screen and (max-width: 500px) {
    .heading-1--big {
      font-size: 6rem;
      letter-spacing: 1rem; } }

.heading-1--small {
  font-family: "Bebas Neue", cursive;
  color: #E8E8E8;
  font-size: 6rem;
  letter-spacing: .15em; }

.heading-2 {
  color: #36AEB7;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 135%; }

.heading-3 {
  color: #F1F1F1;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 3px; }

.heading-4 {
  color: #F1F1F1;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: .12em;
  text-transform: uppercase; }

.heading-5 {
  color: #F1F1F1;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: .15em;
  text-align: center;
  text-transform: uppercase; }

.heading-6 {
  color: #CCC;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .15em; }

.paragraph-big {
  color: #F1F1F1;
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 135%; }
  @media only screen and (max-width: 1250px) {
    .paragraph-big {
      font-size: 1.7rem; } }
  .paragraph-big span {
    font-weight: 800; }
  .paragraph-big--blue span {
    color: #36AEB7; }

/* .paragraph-normal {
    color: $color-white;
    font-size: $font_20;
    font-weight: $font_light;

    & span {
        font-weight: $font_black;
    }
} */
.paragraph-small {
  color: #F1F1F1;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 155%; }
  .paragraph-small span {
    font-weight: 600; }

.paragraph-solution {
  color: #CCC;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .15em; }
  .paragraph-solution span {
    font-weight: 700; }

.header {
  height: 100vh;
  background-color: #040E0F;
  overflow: hidden; }
  .header__upper-part {
    height: 10rem;
    position: relative;
    overflow: hidden; }
    .header__upper-part__logo-full {
      display: inline-block;
      position: absolute;
      top: 4rem;
      left: 4.7rem; }
    .header__upper-part__logo-blue {
      position: absolute;
      top: 1rem;
      width: 6.8rem;
      height: 6.8rem;
      background-image: url(../img/adlux-logo-blue-part.svg);
      background-size: cover;
      display: inline-block;
      animation: rotationOfBlueLogo 1s ease-out; }
    .header__upper-part__logo-text {
      height: 8.2rem;
      width: 14.967rem;
      background-image: url(../img/AdLux-logo-text.svg);
      background-size: cover;
      display: inline-block;
      margin-left: 8.5rem; }
    .header__upper-part__menu-button {
      height: 4rem;
      width: 6rem;
      position: absolute;
      top: 5rem;
      right: 4rem; }
      .header__upper-part__menu-button__line {
        height: 0.75rem;
        width: 6.043rem;
        background-color: #F1F1F1;
        border-radius: .5rem;
        position: relative; }
        .header__upper-part__menu-button__line__circle {
          height: 1.6rem;
          width: 2.2rem;
          border-radius: 50%;
          background-color: inherit;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, -25%); }
      .header__upper-part__menu-button__line:not(:last-child) {
        margin-bottom: 0.85rem; }
  .header__video {
    height: 75%;
    color: white;
    text-align: center; }
  .header__text {
    color: #ffff;
    text-align: center;
    line-height: 3.5rem;
    letter-spacing: .2rem; }
    .header__text__upper {
      font-size: 2.2rem; }
    .header__text__down {
      font-size: 1.8rem;
      font-weight: 300; }
    .header__text-bold {
      font-weight: 700; }
  .header__menu {
    height: 25.7rem;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__menu-link:link, .header__menu-link:visited {
      text-decoration: none;
      color: #ACAFAF;
      font-weight: 500;
      letter-spacing: .2rem;
      font-size: 2.7rem;
      text-transform: uppercase;
      transition: all 0.2s; }
      .header__menu-link:link:not(:last-child), .header__menu-link:visited:not(:last-child) {
        margin-right: 10rem; }
    .header__menu-link:hover {
      color: #ffff;
      font-weight: 700; }
    .header__menu-content-text {
      width: 152rem;
      position: absolute;
      overflow: hidden;
      left: 54%;
      top: 52%;
      transform: translate(-50%, -50%);
      display: inline-block; }
    .header__menu-background {
      height: 25.7rem;
      width: 117rem;
      border-top: 3px solid #00BFCB;
      border-bottom: 3px solid #00BFCB; }
      .header__menu-background::before {
        content: "";
        height: 25.7rem;
        width: 117rem;
        background-color: #0D1213;
        clip-path: polygon(1% 0, 99% 0, 99% 100%, 1% 100%);
        display: inline-block;
        position: absolute;
        z-index: -1; }
      .header__menu-background-logo {
        height: 8.5rem;
        width: 8.5rem;
        object-fit: cover;
        position: absolute;
        left: 47%;
        top: -4.25rem;
        animation: rotationOfBlueLogo 15s linear;
        animation-iteration-count: infinite; }

.rotate-left {
  transform: rotate(45deg); }

.rotate-right {
  transform: rotate(-45deg) translate(-18%, 1.1rem); }
  .rotate-right-circle {
    transform: rotate(-45deg) translate(-21.5%, -1.1rem); }

.info .info__revolution, .info .info__meaning {
  height: 100vh;
  padding: 26rem;
  padding-right: 25rem; }
  @media only screen and (max-width: 1700px) {
    .info .info__revolution, .info .info__meaning {
      padding: 20rem;
      padding-right: 19rem; } }
  @media only screen and (max-width: 1550px) {
    .info .info__revolution, .info .info__meaning {
      padding: 15rem; } }
  @media only screen and (max-width: 1100px) {
    .info .info__revolution, .info .info__meaning {
      padding: 10rem; } }
  @media only screen and (max-width: 950px) {
    .info .info__revolution, .info .info__meaning {
      height: auto;
      padding: 10rem 8rem; } }
  @media only screen and (max-width: 600px) {
    .info .info__revolution, .info .info__meaning {
      padding: 10rem 4rem; } }
  @media only screen and (max-width: 420px) {
    .info .info__revolution, .info .info__meaning {
      padding: 10rem 2rem; } }

.info__revolution {
  display: flex;
  align-items: center; }
  .info__revolution__content {
    padding: 5rem 0 5rem 5rem;
    border-left: 2px solid #36AEB7;
    transform: translateY(12vh);
    display: flex;
    position: relative;
    z-index: 2; }
    @media only screen and (max-width: 950px) {
      .info__revolution__content {
        padding: 5rem 0 5rem 5rem;
        flex-direction: column; } }
    @media only screen and (max-width: 420px) {
      .info__revolution__content {
        padding: 3rem 0 3rem 2rem; } }
    .info__revolution__content::before, .info__revolution__content::after {
      content: "";
      width: 30rem;
      height: 2px;
      background-image: linear-gradient(to right, #36AEB7, transparent);
      display: block;
      position: absolute;
      left: 0; }
    .info__revolution__content::before {
      top: 0; }
    .info__revolution__content::after {
      bottom: 0; }
    .info__revolution__content .heading-2 {
      margin-right: 8rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 950px) {
        .info__revolution__content .heading-2 {
          margin-right: 0;
          margin-bottom: 1.5rem; }
          .info__revolution__content .heading-2 br {
            display: none; } }

.info__meaning {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 950px) {
    .info__meaning {
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-evenly; } }
  .info__meaning__text-wrap {
    width: 32rem;
    transform: translateY(-12vh); }
    @media only screen and (max-width: 1250px) {
      .info__meaning__text-wrap {
        width: 26rem; } }
    @media only screen and (max-width: 950px) {
      .info__meaning__text-wrap {
        transform: translateY(0); } }
  .info__meaning__text {
    text-align: center; }

.benefits {
  height: 100vh;
  max-height: 90rem;
  min-height: 70rem;
  width: 100%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1100px) {
    .benefits {
      height: auto; } }
  .benefits__img {
    height: 100%; }
    @media only screen and (max-width: 1300px) {
      .benefits__img {
        width: 20%;
        object-fit: cover;
        object-position: right; } }
    @media only screen and (max-width: 1100px) {
      .benefits__img {
        display: none; } }
  .benefits__content {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 1100px) {
      .benefits__content {
        padding: 3rem 0; } }
    .benefits__content .heading-1, .benefits__content .heading-3 {
      margin-left: 14rem; }
      @media only screen and (max-width: 1100px) {
        .benefits__content .heading-1, .benefits__content .heading-3 {
          margin-left: 8rem; } }
      @media only screen and (max-width: 600px) {
        .benefits__content .heading-1, .benefits__content .heading-3 {
          margin: 0 5rem; } }
      @media only screen and (max-width: 420px) {
        .benefits__content .heading-1, .benefits__content .heading-3 {
          margin: 0 3rem; } }
    .benefits__content .heading-3 {
      margin-top: -1rem; }
      @media only screen and (max-width: 500px) {
        .benefits__content .heading-3 {
          margin-top: -.5rem; } }
    .benefits__content__animators {
      width: 100%;
      padding: 0 14rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media only screen and (max-width: 1100px) {
        .benefits__content__animators {
          padding: 0 8rem; } }
      @media only screen and (max-width: 600px) {
        .benefits__content__animators {
          padding: 0 5rem; } }
      @media only screen and (max-width: 420px) {
        .benefits__content__animators {
          padding: 0 3rem; } }
      .benefits__content__animators p {
        width: 35rem;
        text-align: center; }
  .benefits__stripe {
    width: 100%;
    background-image: linear-gradient(to right bottom, #043033, #051C1E);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10rem 12rem 10rem 14rem;
    margin: 5rem 0 3.5rem 0; }
    @media only screen and (max-width: 1100px) {
      .benefits__stripe {
        padding: 10rem 8rem; } }
    @media only screen and (max-width: 850px) {
      .benefits__stripe {
        padding: 6rem 8rem; } }
    @media only screen and (max-width: 600px) {
      .benefits__stripe {
        padding: 6rem 5rem; } }
    @media only screen and (max-width: 500px) {
      .benefits__stripe {
        padding: 4rem 5rem; } }
    @media only screen and (max-width: 420px) {
      .benefits__stripe {
        padding: 4rem 3rem; } }
    .benefits__stripe__subheading {
      margin-bottom: 4rem;
      opacity: 0; }
    .benefits__stripe__text {
      display: flex;
      justify-content: space-between;
      opacity: 0; }
      @media only screen and (max-width: 850px) {
        .benefits__stripe__text {
          flex-direction: column; } }
      .benefits__stripe__text > *:first-child {
        width: 46%; }
        @media only screen and (max-width: 850px) {
          .benefits__stripe__text > *:first-child {
            width: 100%;
            margin-bottom: 3rem; } }
      .benefits__stripe__text > *:nth-child(2) {
        width: 42%; }
        @media only screen and (max-width: 1380px) {
          .benefits__stripe__text > *:nth-child(2) {
            width: 47%; } }
        @media only screen and (max-width: 850px) {
          .benefits__stripe__text > *:nth-child(2) {
            width: 100%; } }
    .benefits__stripe__list {
      list-style: none; }

.products {
  position: relative;
  margin-bottom: 36rem;
  margin-top: 36rem; }
  @media screen and (max-width: 1400px) {
    .products {
      margin-bottom: 24rem; } }
  @media screen and (max-width: 1150px) {
    .products {
      margin-bottom: 18rem; } }
  .products__switch {
    margin-bottom: 24rem;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 1150px) {
      .products__switch {
        margin-bottom: 6rem; } }
  .products__button {
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 500;
    font-size: 1.7rem;
    display: block;
    height: 6rem;
    width: 24rem;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 1150px) {
      .products__button {
        height: 4.8rem; } }
    @media screen and (max-width: 450px) {
      .products__button {
        width: 20rem; } }
    @media screen and (max-width: 400px) {
      .products__button {
        width: 17rem;
        font-size: 1.6rem; } }
    .products__button:first-child {
      clip-path: polygon(0 0, 95% 0, 70% 100%, 0 100%);
      margin-right: -4.8rem;
      padding-left: 3rem;
      text-align: left; }
      @media screen and (max-width: 400px) {
        .products__button:first-child {
          margin-right: -3.6rem;
          padding-left: 1.5rem; } }
    .products__button:last-child {
      clip-path: polygon(5% 100%, 100% 100%, 100% 0, 30% 0);
      padding-right: 3rem;
      text-align: right; }
      @media screen and (max-width: 400px) {
        .products__button:last-child {
          padding-right: 1.5rem; } }
    .products__button.toggled {
      background-color: #00BFCB; }
    .products__button:not(.toggled) {
      background-color: #033e42; }
  .products__text {
    margin-left: auto;
    margin-right: auto;
    width: 40rem; }
    @media screen and (max-width: 1150px) {
      .products__text {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media screen and (max-width: 450px) {
      .products__text {
        width: 35rem; } }
  .products__features {
    list-style: none; }
    @media screen and (max-width: 400px) {
      .products__features {
        margin-left: 2rem;
        margin-right: 2rem; } }
  .products .paragraph-small::before {
    content: "-";
    margin-right: 1.2rem;
    display: inline-block;
    color: white;
    position: relative; }
  .products__feature {
    margin-bottom: .6rem; }
  .products .heading-4 {
    margin-bottom: 4.8rem; }
    @media screen and (max-width: 1150px) {
      .products .heading-4 {
        margin-bottom: 2.4rem; } }
    @media screen and (max-width: 450px) {
      .products .heading-4 {
        font-size: 2rem; } }
    @media screen and (max-width: 450px) {
      .products .heading-4 {
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 1.5; } }
  .products__image {
    height: 50rem;
    position: absolute;
    top: 12rem; }
    @media screen and (max-width: 1500px) {
      .products__image {
        height: 40rem;
        top: 18rem; } }
    @media screen and (max-width: 1150px) {
      .products__image {
        margin-top: 3rem;
        margin-bottom: 3rem;
        position: relative;
        top: unset; } }
    .products__image--a {
      left: 14rem; }
      @media screen and (max-width: 1150px) {
        .products__image--a {
          left: unset; } }
    .products__image--b {
      right: 18rem; }
      @media screen and (max-width: 1150px) {
        .products__image--b {
          right: unset; } }
    @media screen and (max-width: 1150px) {
      .products__image:not(.toggled) {
        display: none; } }

.p5Canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5; }

.solution {
  width: 100%;
  margin-bottom: 20rem;
  position: relative; }
  @media screen and (max-width: 900px) {
    .solution {
      margin-bottom: 0rem; } }
  .solution .heading-1 {
    margin-left: 10rem; }
    @media screen and (max-width: 1100px) {
      .solution .heading-1 {
        margin-left: 6rem; } }
    @media screen and (max-width: 800px) {
      .solution .heading-1 {
        margin-left: 3rem;
        margin-bottom: 1rem;
        font-size: 5rem; } }
    @media screen and (max-width: 600px) {
      .solution .heading-1 {
        margin-bottom: 1rem;
        margin-right: 3rem;
        width: 100%;
        font-size: 4rem; } }
    @media screen and (max-width: 400px) {
      .solution .heading-1 {
        font-size: 3rem; } }
  .solution .paragraph-small {
    margin-left: 10rem;
    width: 70rem; }
    @media screen and (max-width: 1100px) {
      .solution .paragraph-small {
        margin-left: 6rem; } }
    @media screen and (max-width: 1000px) {
      .solution .paragraph-small {
        width: 60rem; } }
    @media screen and (max-width: 900px) {
      .solution .paragraph-small {
        width: 50rem; } }
    @media screen and (max-width: 800px) {
      .solution .paragraph-small {
        margin-left: 3rem; } }
    @media screen and (max-width: 500px) {
      .solution .paragraph-small {
        padding-right: 3rem;
        width: 100%; } }
  .solution__cards {
    margin-top: 18rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media screen and (max-width: 1300px) {
      .solution__cards {
        margin-bottom: 60rem; } }
    @media screen and (max-width: 900px) {
      .solution__cards {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column; } }
    @media screen and (max-width: 900px) {
      .solution__cards {
        margin-top: 12rem;
        margin-bottom: 20rem; } }
    @media screen and (max-width: 400px) {
      .solution__cards {
        padding-left: 3rem;
        padding-right: 3rem; } }
  .solution__card {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    width: 40rem;
    border-bottom: 1px solid #36AEB7;
    position: relative; }
    @media screen and (max-width: 1300px) {
      .solution__card {
        width: 48rem; } }
    @media screen and (max-width: 1000px) {
      .solution__card {
        width: 40rem; } }
    @media screen and (max-width: 1100px) {
      .solution__card {
        padding: 3rem; } }
    @media screen and (max-width: 900px) {
      .solution__card {
        width: 40rem; } }
    @media screen and (max-width: 400px) {
      .solution__card {
        width: 100%; } }
    .solution__card:nth-child(2) {
      padding-top: 8.4rem;
      padding-bottom: 8.4rem;
      width: 45rem; }
      @media screen and (max-width: 1300px) {
        .solution__card:nth-child(2) {
          width: 48rem;
          padding-top: 4.8rem;
          padding-bottom: 4.8rem;
          position: absolute;
          top: 49rem;
          left: 50%;
          transform: translateX(-50%); } }
      @media screen and (max-width: 1000px) {
        .solution__card:nth-child(2) {
          width: 40rem;
          top: 50.5rem; } }
      @media screen and (max-width: 900px) {
        .solution__card:nth-child(2) {
          width: 40rem;
          position: relative;
          top: 0;
          left: 0;
          transform: none; } }
      @media screen and (max-width: 400px) {
        .solution__card:nth-child(2) {
          width: 100%; } }
      .solution__card:nth-child(2) .solution__card__head {
        top: -6.4rem; }
        @media screen and (max-width: 1300px) {
          .solution__card:nth-child(2) .solution__card__head {
            top: -3rem; } }
    .solution__card:not(:last-child) {
      margin-right: 4.8rem; }
      @media screen and (max-width: 900px) {
        .solution__card:not(:last-child) {
          margin-right: 0;
          margin-bottom: 12rem; } }
    .solution__card::after, .solution__card::before {
      content: "";
      width: 1px;
      height: 100%;
      background: linear-gradient(to bottom, transparent, #36AEB7 70%);
      display: block;
      position: absolute;
      top: 0; }
    .solution__card::before {
      left: -1px; }
    .solution__card::after {
      right: -1px; }
    .solution__card .paragraph-solution {
      margin-bottom: 2.4rem; }
    .solution__card .heading-5 {
      z-index: 10;
      position: relative; }
    .solution__card__head {
      margin-top: -4.8rem;
      height: 4.8rem;
      background-color: #00BFCB;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: -3rem; }
    .solution__card__features {
      list-style: none; }
    .solution__card__svg {
      width: 100%;
      height: 100%;
      opacity: .5;
      display: block;
      position: absolute; }
    .solution__card__feature {
      filter: blur(0.8px);
      color: rgba(241, 241, 241, 0.3);
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: .15em; }
      .solution__card__feature--active {
        filter: none;
        color: #CCC; }
      .solution__card__feature:not(:last-child) {
        margin-bottom: 1.2rem; }
    .solution__card .heading-6 {
      margin-bottom: 3rem;
      padding-bottom: .6rem;
      width: 10rem;
      border-bottom: 1px solid #3A3F3F;
      position: relative;
      overflow: hidden; }
  .solution__contact-button {
    background-color: transparent;
    border: none;
    border-bottom: 0.5rem solid #1F1F1F;
    padding-bottom: 1.2rem;
    width: 36rem;
    cursor: pointer;
    color: #056369;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 400;
    font-size: 2.2rem;
    display: block;
    position: absolute;
    top: 8.4rem;
    right: 0; }
    @media screen and (max-width: 1200px) {
      .solution__contact-button {
        width: 24rem; } }
    @media screen and (max-width: 900px) {
      .solution__contact-button {
        display: none; } }
  .solution video {
    opacity: 0.02;
    width: 100%;
    position: absolute;
    top: 50%;
    overflow: hidden; }

.contact {
  position: relative;
  overflow: hidden;
  padding-top: 18rem; }
  @media screen and (max-width: 1000px) {
    .contact {
      margin-bottom: 12rem; } }
  @media screen and (max-width: 900px) {
    .contact {
      padding-top: 0; } }
  .contact-content {
    margin: 0 auto; }
    .contact-content__Adlux-logo {
      margin: 7rem auto;
      width: 27.83rem;
      height: 15.248rem;
      background-image: url(../img/adlux-logo-text.svg);
      background-size: cover; }
      @media screen and (max-width: 700px) {
        .contact-content__Adlux-logo {
          width: 20rem;
          height: 10rem; } }
    .contact-content-table {
      height: 90rem;
      width: 80rem;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 1400px) {
        .contact-content-table {
          width: 65%; } }
      @media screen and (max-width: 1000px) {
        .contact-content-table {
          width: 75%; } }
      @media screen and (max-width: 700px) {
        .contact-content-table {
          width: 80%; } }
      @media screen and (max-width: 600px) {
        .contact-content-table {
          width: 90%; } }
      .contact-content-table-row {
        margin-bottom: 2.5rem;
        position: relative; }
        .contact-content-table-row-message {
          position: relative; }
      .contact-content-table__input {
        height: 4.1rem;
        width: 100%;
        font-size: 2rem;
        outline: none;
        padding-left: 0.5rem; }
        .contact-content-table__input::placeholder {
          color: #ACAFAF; }
      .contact-content-table__label {
        color: #ffff;
        margin: 0 auto;
        font-size: 2.2rem;
        font-weight: 400; }
        @media screen and (max-width: 600px) {
          .contact-content-table__label {
            font-size: 1.7rem; } }
        .contact-content-table__label-box {
          display: inline-block;
          width: 6.8rem;
          height: 100%;
          left: -10rem;
          margin-right: 3rem;
          position: absolute; }
          @media screen and (max-width: 1000px) {
            .contact-content-table__label-box {
              margin-bottom: 1rem;
              position: relative;
              left: 0; } }
        .contact-content-table__label-message {
          top: 0.5rem; }

.message {
  width: 100%;
  height: 43.4rem;
  font-size: 2rem;
  line-height: 4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  outline: none;
  padding-left: 0.5rem; }
  @media screen and (max-width: 900px) {
    .message {
      height: 30rem; } }
  @media screen and (max-width: 500px) {
    .message {
      height: 25rem; } }
  .message::placeholder {
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    color: #ACAFAF;
    font-size: 2rem; }

.send-button {
  display: block;
  margin-bottom: 1rem;
  background-color: #040E0F;
  outline: none;
  border: none;
  font-size: 3.5rem;
  font-weight: 400;
  color: #ffff;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all .1s; }
  .send-button:hover {
    transform: translateY(-0.2rem) scale(1.05); }
  @media screen and (max-width: 600px) {
    .send-button {
      font-size: 3rem; } }

.loading-efect {
  display: block;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: .4rem;
  width: 19rem;
  border-radius: .2rem;
  background-color: #043033; }
  @media screen and (max-width: 600px) {
    .loading-efect {
      width: 14rem; } }
  .loading-efect__img {
    width: 10rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background-image: linear-gradient(to right, #043033, #00BFCB);
    animation: loadingEffectAnimation 2s ease-in;
    animation-iteration-count: infinite; }
    @media screen and (max-width: 600px) {
      .loading-efect__img {
        width: 5rem; } }
    .loading-efect__img-send {
      width: 19rem;
      height: 0.4rem;
      border-radius: 0.2rem;
      background-color: #00BFCB;
      animation: sendingEffectAnimation 1s ease-in;
      transform: translateX(0rem); }
      @media screen and (max-width: 600px) {
        .loading-efect__img-send {
          width: 9rem; } }

.footer-up {
  background-color: #040E0F;
  color: #ffff;
  position: relative;
  height: 5rem; }
  .footer-up__AdLux-logo {
    position: absolute;
    display: inline-block;
    height: 6.8rem;
    width: 12.411rem;
    transform: translate(51%, -60%);
    background-image: url(../img/AdLux-logo-text.svg);
    background-size: cover; }
  .footer-up__contacts {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 88rem;
    height: 5rem;
    overflow: hidden;
    transform: translate(-41%, -1rem); }
    .footer-up__contacts-picture-1 {
      position: relative;
      display: inline-block;
      height: 30rem;
      transform: translateY(-6rem); }
    .footer-up__contacts-picture-2 {
      position: relative;
      display: inline-block;
      height: 30rem;
      transform: translateY(-12.75rem); }
    .footer-up__contacts-phone-number {
      position: absolute;
      display: inline-block;
      left: 15rem;
      font-variant-numeric: lining-nums;
      font-weight: 500;
      font-size: 2rem;
      transform: translateY(1rem); }
    .footer-up__contacts-email {
      position: absolute;
      display: inline-block;
      right: 20rem;
      font-weight: 500;
      font-size: 2rem;
      transform: translateY(1rem); }
  .footer-up__AmnioN-link-logo:link, .footer-up__AmnioN-link-logo:visited {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0.5rem;
    right: 0;
    bottom: 3rem;
    transform: translate(-90%, -50%);
    text-decoration: none;
    color: #ffff;
    font-weight: 300;
    transition: all .1s; }
  .footer-up__AmnioN-link-logo:hover {
    transform: translate(-90%, -50%) scale(1.1) translateY(-0.2rem); }
  .footer-up__AmnioN-link-logo:active {
    transform: translate(-90%, -50%) scale(1.1) translateY(-0.1rem); }

.footer-down {
  background-image: url(../img/footer-picture.jpg);
  background-size: 100%;
  display: block;
  position: relative;
  text-align: right;
  height: 8rem; }
  .footer-down__heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-weight: 300;
    color: #ffff; }
  .footer-down__AmnioNLink-text:link, .footer-down__AmnioNLink-text:visited {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 17rem;
    text-decoration: none;
    padding: 1.3rem 0;
    padding-right: 3rem;
    font-size: 2rem;
    font-weight: 300;
    color: #ffff;
    transition: all .1s; }
  .footer-down__AmnioNLink-text:hover {
    transform: translateY(-0.4rem);
    text-shadow: 0.2rem 0.2rem 0.8rem black; }
  .footer-down__AmnioNLink-text:active {
    transform: translateY(-0.2rem); }
