/////
// HEADINGS

.heading-1 {
    &--big {
        font-family: $font_bebasNeue;
        color: $color-grey-dark;
        font-size: $font_120;
        letter-spacing: 1.8rem;

        @media only screen and (max-width: 500px) {
            font-size: $font_60;
            letter-spacing: 1rem;
        }
    }
    &--small {
        font-family: $font_bebasNeue;
        color: $color-grey;
        font-size: $font_60;
        letter-spacing: .15em;
    }
}
.heading-2 {
    color: $color-blue;
    font-size: $font_25;
    font-weight: $font_medium;
    letter-spacing: 2px;
    line-height: 135%;
}
.heading-3 {
    color: $color-grey-light;
    font-size: $font_20;
    font-weight: $font_medium;
    letter-spacing: 3px;
}
.heading-4 {
    color: $color-grey-light;
    font-size: $font_22;
    font-weight: $font_semiBold;
    letter-spacing: .12em;
    text-transform: uppercase;
}
.heading-5 {
    color: $color-grey-light;
    font-weight: $font_regular;
    font-size: $font_18;
    font-family: $font_raleway;
    letter-spacing: .15em;
    text-align: center;
    text-transform: uppercase;
}
.heading-6 {
    color: $color-grey-CCC;
    font-size: $font_18;
    font-weight: $font_semiBold;
    text-transform: uppercase;
    letter-spacing: .15em;
}

/////
// PARAGRAPHS

.paragraph-big {
    color: $color-grey-light;
    font-size: $font_22;
    font-weight: $font_light;
    letter-spacing: 2px;
    line-height: 135%;

    @media only screen and (max-width: 1250px) {
        font-size: $font_20;
    }

    & span {
        font-weight: $font_extraBold;
    }
    &--blue span {
        color: $color-blue;
    }
}
/* .paragraph-normal {
    color: $color-white;
    font-size: $font_20;
    font-weight: $font_light;

    & span {
        font-weight: $font_black;
    }
} */
.paragraph-small {
    color: $color-grey-light;
    font-size: $font_18;
    font-weight: $font_light;
    letter-spacing: 1.5px;
    line-height: 155%;

    & span {
        font-weight: $font_semiBold;
    }
}
.paragraph-solution {
    color: $color-grey-CCC;
    font-size: $font_15;
    font-weight: $font_regular;
    letter-spacing: .15em;

    & span {
        font-weight: $font_bold;
    }
}
