/////
// HEADINGS

.heading-1 {
    font-family: $font_bebasNeue;

    &--big {
        color: $color-grey-dark;
        font-size: $font_120;
    }
    &--small {
        color: $color-grey;
        font-size: $font_60;
    }
}
.heading-2 {
    color: $color-blue;
    font-size: $font_25;
    font-weight: $font_medium;
}
.heading-3 {
    color: $color-grey-light;
    font-size: $font_20;
    font-size: $font_semiBold;
}
.heading-4 {
    color: $color-grey-light;
    font-size: $font_22;
    font-weight: $font_semiBold;
}


/////
// PARAGRAPHS

.paragraph-big {
    color: $color-grey-light;
    font-size: $font_22;
    font-weight: $font_regular;

    & span {
        font-weight: $font_black;
    }
    &--blue span {
        color: $color-blue;
    }
}
.paragraph-normal {
    color: $color-white;
    font-size: $font_20;
    font-weight: $font_light;

    & span {
        font-weight: $font_black;
    }
}
.paragraph-small {
    color: $color-grey-light;
    font-size: $font_18;
    font-weight: $font_regular;

    & span {
        font-weight: $font_bold;
    }
}