@keyframes rotationOfBlueLogo {
    from{
         transform: rotate(0deg);
    } to {
         transform: rotate(360deg);
    }
 }

 @keyframes sendingEffectAnimation {
    0%{
        transform: translateX(-19rem);
    }
    100%{
        transform: translateX(0rem);
    }
}


@keyframes loadingEffectAnimation {
    0%{
        transform: translateX(-10rem);
    }
    100%{
        transform: translateX(20rem);
    }
}

@keyframes showBenefitsStripe {
    from {
        background-position: -100vw;
    }
    to {
        background-position: 0rem;
    }
}

@keyframes turnUpOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerBackgroundGradient {
    0% {
        background-size: 1% 100%;
        background-position-x: 0%;
        animation-timing-function: linear;
    }
    50% {
        background-size: 1.1% 20%;
        background-position-x: 50%;
    }
    80% {        
        animation-timing-function: ease-out;
    }
    100% {
        background-size: 1% 100%;
        background-position-x: 100%;
        animation-timing-function: linear;
    }
}