/////
// Colors

// Shades
$color-white: white;
$color-grey-light: #F1F1F1;
$color-grey: #E8E8E8;
$color-grey-dark: #ACAFAF;

// Blue
$color-blue-light: #00BFCB;
$color-blue: #36AEB7;
$color-blue-dark: #056369;
$color-blue-black-one: #040E0F;
$color-blue-black-two: #040E0F;

/////
// Font

// Weights
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semiBold: 600;
$font_bold: 700;
$font_black: 900;

// Sizes
$font_18: 18rem;
$font_20: 20rem;
$font_22: 22rem;
$font_25: 25rem;
$font_60: 60rem;
$font_120: 120rem;

// Families
$font_raleway: 'Raleway', sans-serif;
$font_bebasNeue: 'Bebas Neue', cursive;