/////
// Colors

// Shades
$color-white: white;
$color-grey-light: #F1F1F1;
$color-grey: #E8E8E8;
$color-grey-dark: #ACAFAF;
$color-grey-darkest: #1F1F1F;
$color-grey-darker: #3A3F3F;
$color-grey-CCC: #CCC;

// Blue
$color-blue-light: #00BFCB;
$color-blue: #36AEB7;
$color-blue-dark: #056369;
$color-blue-black: #040E0F;

/////
// Font

// Weights
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semiBold: 600;
$font_bold: 700;
$font_black: 900;

// Sizes
$font_18: 1.8rem;
$font_20: 2.0rem;
$font_22: 2.2rem;
$font_25: 2.5rem;
$font_60: 6.0rem;
$font_120: 12.0rem;
$font_15: 1.5rem;

// Families
$font_raleway: 'Raleway', sans-serif;
$font_bebasNeue: 'Bebas Neue', cursive;
$font_montserrat: 'Montserrat', sans-serif;